<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            {{doctorsDetails}}
            <h2>Experience</h2>
            {% for experience in doc.experiences.all %}
                <li><pre>Name Of Hospital : {{experience.name_of_hospital}}                years Of Experience : {{experience.year_of_experience}}</pre></li>
            {% endfor %}
            <h2>Booking</h2>
            {% for book in doc.books.all %}
                <ul>
                    <li>Name : {{book.name}}</li>
                    <li>Mail : {{book.mail}}</li>
                    <li><pre>Date : {{book.date}}                Time : {{book.time}}</pre></li>
                    <br>
                </ul>
            {% endfor %}
      </div>
        <button type="submit" >Save</button>
        <a href="{% url 'newExperience' doc.id %}">add Experience</a>
        <br>
        <a href="{% url 'deleteDoctor' doc.id %}">Delete</a>


    </form>
</body>
</html>